<div class="content">
  <mat-card class="mt-3">
    <mat-card-content >
      <mat-card>
        <div class="grid"  novalidate [formGroup]="formulario" novalidate>
            <div class="col-6" >
              <label>Brm</label>
              <br>
              <input type="text" formControlName="brm" style="height: 13px;width: 90%;" maxlength="100"  [(ngModel)]="brm">
            </div>
            <div class="col-6 " >
              <label for="puesto">Puesto</label>
              <mat-form-field style="height:30px;">
                  <mat-select  formControlName="puesto" id="puesto">
                      <mat-option [value]="1">Desarrollador FrontEnd Sr.</mat-option>
                      <mat-option [value]="2">Desarrollador FrontEnd Jr.</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6" >
              <label>Nombre</label>
              <br>
              <input type="text" formControlName="nombre" style="height: 13px;width: 90%;" maxlength="100"  [(ngModel)]="nombre">
            </div>
            <div class="col-6" >
              <label>Foto</label>
              <br>
              <input #foto (change)="cargandoImagen($event)" name="foto" type="file" class="custom-file-input" id="foto" style="height: 30px;width: 95%;background-color: white;color: beige;"  >
            </div><br>
            <div class="col-6" >
              <button *ngIf="registrarbtn"  class="primary" (click)="registrar()">Registrar</button>
              <button *ngIf="!registrarbtn" class="danger" (click)="actualizar()">Actualizar</button>
              <button *ngIf="!registrarbtn" class="orange" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
      </mat-card>
    </mat-card-content>
    <mat-card>
      <mat-card-content >
        <div class="example-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Brm">
                <th mat-header-cell *matHeaderCellDef> brm </th>
                <td mat-cell *matCellDef="let element"> {{element.brm}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Foto">
                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Puesto">
                <th mat-header-cell *matHeaderCellDef> puesto </th>
                <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button  type="button" class="orange " (click)="eliminar(element)">Borrar</button>
                    <button type="button" class="default" (click)="openModalDialog(element)">Editar</button>
                </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<nx-loading></nx-loading>
<nx-alert></nx-alert>
<nx-confirm-dialog></nx-confirm-dialog>