.content {
    padding-top: 1rem;
    padding-right: 1rem;
    height: 500px;
}

.label {
    display: inline-block;
    width: 150px;
}

.input {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

.example-container {
    height: 220px;
    max-width: 100%;
    overflow: auto;
}