<div class=" contentLeft mdc-card" >
  <div class="row" >
      <div class="col-auto">
          <div class="row">
              <button [disabled]="disableBtn1" id="1" class="buttonG" (click)="getResp($event,1)" >
                  <span class="mdc-button__ripple"></span>
                 
              </button>
              <button [disabled]="disableBtn1" id="2" class="buttonG" (click)="getResp($event,2)">
                  <span class="mdc-button__ripple"></span>
                
              </button>
              <button  [disabled]="disableBtn1" id="3" class="buttonG" (click)="getResp($event,3)">
                  <span class="mdc-button__ripple"></span>
                  
              </button>
          </div>
          <div class="row">
              <button [disabled]="disableBtn1" id="4" class="buttonG" (click)="getResp($event,4)">
                  <span class="mdc-button__ripple"></span>
                 
              </button>
              <button [disabled]="disableBtn1" id="5" class="buttonG" (click)="getResp($event,5)">
                  <span class="mdc-button__ripple"></span>
                 
              </button>
              <button [disabled]="disableBtn1" id="6" class="buttonG" (click)="getResp($event,6)">
                  <span class="mdc-button__ripple"></span>
                  
              </button>
          </div>
          <div class="row">
              <button  [disabled]="disableBtn1" id="7" class="buttonG" (click)="getResp($event,7)">
                  <span class="mdc-button__ripple"></span>
                  
              </button>
              <button [disabled]="disableBtn1" id="8" class="buttonG" (click)="getResp($event,8)">
                  <span class="mdc-button__ripple"></span>
                  
              </button>
              <button [disabled]="disableBtn1" id="9" class="buttonG" (click)="getResp($event,9)">
                  <span class="mdc-button__ripple"></span>
                 
              </button>
          </div>
      </div>
  </div>
</div>
<mat-card class="contentRight">
  <div class="row">
      <h3 class="textCenter">Mensajes</h3>
  </div>
  <div class="row">
      <p class="textCenter">
         {{mensaje}}
      </p>
  </div>
  <div class="row textCenter">
    <button *ngIf="empezarJuego" (click)="IniciarJuego()" class="dark outline">Iniciar juego</button>
    <button *ngIf="jugarNuevamente" (click)="jugarDenuevo()" class="dark outline">Si</button>
    <button *ngIf="jugarNuevamente" (click)="noJugarDenuevo()" class="dark outline">No</button>
  </div>
</mat-card>
<nx-loading></nx-loading>