.contentLeft {
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contentRight {
    width: 30%;
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.buttonG{
    width: 100px;
    height: 100px;
    font-size: 3rem;
    background-color: #ffff;
    border: 1px solid black;
    color:black;
    box-shadow:black 0 2px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: text-bottom;
}

.textCenter{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.buttonG:hover,
.buttonG:focus {
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
  color: black;
}



.buttonG:active {
  background-color: #F0F0F1;
  border-color:black;
  box-shadow:black 0 2px 4px;
  color: black;
 
}

