<h1 mat-dialog-title>{{data.brm}}</h1>
<form [formGroup]="empleadoEdit" (ngSubmit)="actualizar()" autocomplete="off">
    <div mat-dialog-content>
        <div class="flex-container">
            <img *ngIf="imgEdit!=null" style="width: 50%!important;" [src]="'data:image/jpeg;base64,'+imgEdit" alt="">
        </div>
        <div class="flex-container">
            <div class="p-2">
                <label for="imagen">Foto</label>
                <input type="file" (change)="handleUploadEdit($event)" id="foto" formControlName="foto" accept=".jpg" />
            </div>
        </div>
        <div class="flex-container">
            <div class="p-2">
                <label for="nombre">Nombre</label>
                <input width="95%" type="text" id="nombre" formControlName="nombre" />
            </div>
        </div>
        <div class="flex-container">
            <div class="p-2">
                <label for="puesto">Puesto</label>
                <mat-form-field>
                    <mat-select formControlName="puesto" id="puesto">
                        <mat-option [value]="1">Desarrollador FrontEnd Sr</mat-option>
                        <mat-option [value]="2">Desarrollador FrontEnd Jr</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div mat-dialog-actions>
        <button class="default me-2" type="submit">Guardar</button>
        <button (click)="onNoClick()" class="orange me-2">Cancelar</button>
    </div>
</form>
