<div  style="padding-left: 5rem;">
  <button class="dark outline" style="text-align: left;" (click)="logout()">Cerrar sesion / {{usuario}} </button>
  <!-- <h2 style="text-align: center;">Bienvenido {{usuario}}</h2> -->
  <router-outlet></router-outlet>
</div>
<nx-menu [favsItems]="leftContent" [menuItems]="mainContent" title="{{title}}"></nx-menu>
