<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="oss-login-wrapper" >
    <div class="oss-login-form" >
      <div class="login-header" >
        <h2 >Usuarios</h2>
      </div>
      <label >Correo</label>
      <input  type="text"  #correo placeholder="Correo">
      <label >Contraseña</label>
      <div class="login-password" >
        <input type="password" #password placeholder="Contraseña">
      </div>
        <button type="button" class="dark" (click)="iniciarSesion()">Ingresar</button>
    </div>
  </div>
</div>
