.container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

.card{
    border-radius: 1rem;
    border: #85929E solid 0.3px;
    padding: 1rem;
}